table{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
}
.thead{
    background-color: aqua;

}
.heading{
    text-align: center;
}
h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.flx{
    text-align: inherit;
}

.fl{

    display: flex;
    float: left;
}
a:hover{
    background-color: aqua;
}